CommentsTestUI/Data/WutheringComments.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="wuthering-comments">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="author">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="initials" type="xs:string" use="optional" />
						<xs:attribute name="email" type="xs:string" use="optional" />
						<xs:attribute name="website" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
				<xs:element name="categories">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="1" maxOccurs="unbounded" name="category">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="name" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="comment-types">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="comment-type" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="templates">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="template" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="comment">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="category" type="xs:string" use="optional" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="groups">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="group" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="comment">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="category" type="xs:string" use="required" />
														<xs:attribute name="template" type="xs:string" use="optional" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="language" type="xs:string" use="required" />
									<xs:attribute name="type" type="xs:string" use="required" />
									<xs:attribute name="extensions" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>